@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.projectArticle{ 
    display: grid;
    grid-template-columns: 50% 45%;
    background-color: #FFECD6;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.projectPicture{ 
    width: 75%; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 11%;
}

.projectTextDiv{ 
    padding-top: 4%; 
    font-family: 'Lato', sans-serif;
}

.projectParagraph{ 
    margin-bottom: 3%; 
    font-size: 110%;
}

a{ 
    color: black 
}